.indicator {
    &.red {
        & > div {
            background-color: #D52A35;
        }
    }
    & > div {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #32B5AD;
        border-radius: 50px;
    }
}
#app .sign-out {
    width: 109px;
    margin-left: 0!important;
}