/**
 * WARNING
 * WARNING
 * WARNING
 * WARNING
 * WARNING: be carefull with exposing here vulnerable data, because this file is sended to browser
 * WARNING
 * WARNING
 * WARNING
 * WARNING: ... and don't remove this message, please...
 */

module.exports = {
    pingserver: 'localhost:8080',
    fake: false,
    delay: 1300,
    jwt: {
        secureEndpointsPattern: /^\/admin/,
        loginUrl: '/login',
        redirectAfterAuthenticated: '/gui',
        localStorageKey: '_user',
        postToGetReloadShortcut: true,
        loginHiddenInput: {
            name: '_authenticate',
            value: 'authenticate'
        }
    }
}
