.FacebookParagraph {
    & > p > .p {
        background-color: #ececec;
        color: #ececec;
    }
    & > .fp-box {
        background-color: #ececec;
        height: 3em;
        width: 3em;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        display: inline-block;
        float:left;
    }
}
